/* Reset CSS básico */
html, body, h1, h2, p, ul, li, a, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

/* Estilos Globais */
body {
    background-image: url('/Imagens/pexels-helena-lopes-1904106.jpg');
    background-size: cover;
}

/* Cabeçalho */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f67f00;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.imagem-animais{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}
.animal1{
    transition: ease-in-out 0.09s; 
}
.animal1:hover{
    transform: scale(1.1);
}
.animal2{
    transition: ease-in-out 0.09s; 
}
.animal2:hover{
    transform: scale(1.1);
}
.animal3{
    transition: ease-in-out 0.09s; 
}
.animal3:hover{
    transform: scale(1.1);
}

.imagem-animais img {
    width: 30%;
    border-radius: 10px;
    margin: 0 5px;
}

.logo {
    margin-left: 20px;
}

.logo-img {
    width: 150px;
    height: 130px;
}

.menu ul {
    list-style: none;
    margin-right: 20px;
    display: flex;
  
   
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    margin: 0 20px;
    transition: color 0.3s ease-in-out;
    font-size: 1.5rem;
}

.menu a:hover {
    color: #545713;
}

/* Página Sobre */
.pagina-sobre {
    height: calc(175vh - 80px); /* Subtrai a altura do header */
    
    text-align: center; 
    display: flex;
    align-items: center;   
    background-attachment: fixed;
    padding: 80px 0;
    text-align: center;
    color: #ffffff;
}

.conteudo {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    line-height: 1.6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #f67f00; /* Nova cor para o título */
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Rodapé */
footer {
    text-align: center;
    background-color: transparent;
    color: #fff;
    margin-top: 10px;

    bottom: 0;
    left: 0;
    width: 100%;
}
.como-funciona {
    padding: 40px 0;
    text-align: center;
}

.como-funciona h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}   

.passo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color:rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color:white;
}

.passo img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.passo h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.passo p {
    font-size: 16px;
}