@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

h1 {
    font-size: 36px;
    color: #007BFF;
}

.imagem {
    display: block; 
    margin: 0 auto; 
}

img {
    width: 200px;
    height: 300px;
    margin: 20px auto;
}

#mensagem {
    font-size: 18px;
    color: #666;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ca7b27;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    background-color: #dad8dd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 36px;
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #ca7b27;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.texto {
    text-align: center; 
}
