
body, h1, ul {
    margin: 0;
    padding: 0;
}

body {
    width: 90%;
    font-size: 1.2em; 
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    height: 100vh;
    /* flex-direction: column;
    gap: 30px; */
}

.container {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #007BFF;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 5px 10px;
    color: #cd0e0e;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 0.2s ease;
}
